@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<style>
    .erro {
        color: red;
    }

</style>


@model Aluno

@if (TempData["MsgErro"] != null)
{
    <div class="alert-danger">
        @TempData["MsgErro"]
    </div>
}

<h1>Editar Aluno:</h1>

<form asp-controller="Aluno" asp-action="AtualizarAluno" asp-route-id="@Model.Id" method="post">

    <p>Dados Gerais:</p>

    <div class="mb-3 col-md-4">
        <label class="form-label">Nome</label>
        @if (TempData["ErroNome"] != null)
        {
            <p class="erro">@TempData["ErroNome"]</p>
        }
        @if (TempData["ErroNomeInvalida"] != null)
        {
            <p class="erro">@TempData["ErroNomeInvalida"]</p>
        }
        <input type="text" asp-for="Nome" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Cpf</label>
        @if (TempData["ErroCpfInvalida"] != null)
        {
            <p class="erro">@TempData["ErroCpfInvalida"]</p>
        }
        <input type="text" asp-for="Cpf" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Matricula</label>
        @if (TempData["ErroMatriculaInvalida"] != null)
        {
            <p class="erro">@TempData["ErroMatriculaInvalida"]</p>
        }
        <input type="text" asp-for="Matricula" class="form-control" required>
    </div>


    <div class="mb-3 col-md-4">
        <label class="form-label">Data De Nascimento</label>
        <input type="date" asp-for="Data_De_Nascimento" class="form-control" required>
    </div>

    <p>Endereço:</p>

    <div class="mb-3 col-md-4">
        <label class="form-label">CEP</label>
        @if (TempData["ErroCepInvalida"] != null)
        {
            <p class="erro">@TempData["ErroCepInvalida"]</p>
        }
        <input type="text" asp-for="CEP" id="CEP" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Logradouro</label>
        @if (TempData["ErroEnderecoInvalida"] != null)
        {
            <p class="erro">@TempData["ErroEnderecoInvalida"]</p>
        }
        <input type="text" asp-for="Logradouro" id="Logradouro" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Numero</label>
        @if (TempData["ErroNumeroInvalida"] != null)
        {
            <p class="erro">@TempData["ErroNumeroInvalida"]</p>
        }
        <input type="text" asp-for="Numero" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Bairo</label>
        @if (TempData["ErroBairroInvalida"] != null)
        {
            <p class="erro">@TempData["ErroBairroInvalida"]</p>
        }
        <input type="text" asp-for="Bairro" id="Bairro" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Cidade</label>
        @if (TempData["ErroCidadeInvalida"] != null)
        {
            <p class="erro">@TempData["ErroCidadeInvalida"]</p>
        }
        <input type="text" asp-for="Cidade" id="Cidade" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Estado</label>
        @if (TempData["ErroEstadoInvalido"] != null)
        {
            <p class="erro">@TempData["ErroEstadoInvalido"]</p>
        }
        <input type="text" asp-for="Estado" id="Estado" class="form-control" required>
    </div>



    <div class="text-center">
        <button type="submit" class="btn btn-primary">Salvar edição</button>
        <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Index"> Voltar</a>
    </div>
</form>