@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
<p>pagina do aluno</p>
*@
@{
}

@if (TempData["MsgErro"] != null)
{
    <div class="alert-danger">
        @TempData["MsgErro"]
    </div>
}

@if (TempData["cadastroOK"] != null)
{
    <div class="alert-sucess">
        @TempData["cadastroOK"]
    </div>
}


<div>
    <form method="get" asp-controller="Aluno" asp-action="Index">
        <input type="text" name="buscar" placeholder="Buscar aluno..." class="form-control" style="width:300px; display:inline-block;" />
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>

</div>


@model IEnumerable<Aluno>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Matricula</th>
            <th scope="col">Nome</th>
            <th scope="col">Cpf</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">CEP</th>
            <th scope="col">Logradouro</th>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
            <th scope="col">Bairo</th>
            <th scope="col">Numero</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Matricula</td>
                    <td>@item.Nome</td>
                    <td>@item.Cpf</td>
                    <td>@item.Data_De_Nascimento</td>
                    <td>@item.CEP</td>
                    <td>@item.Logradouro</td>
                    <td>@item.Cidade</td>
                    <td>@item.Estado</td>
                    <td>@item.Bairro</td>
                    <td>@item.Numero</td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="Excluir" asp-route-id="@item.Id">Excluir</a>
                        </div>
                    </td>
                </tr>
            }
        
        }

    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Adicionar"> Adicionar Aluno</a>
    <a class="btn btn-primary" type="button" asp-controller="Home" asp-action="Index"> Voltar</a>
</div>